@use '../../@theme/styles/theme' as theme;

.login-container {
  width: 100%;
  height: calc(100vh - 100px);
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.loader {
  padding: 9px 20px !important;
}
.error-class {
  text-align: left;
  margin-bottom: 5px;
}
